{% extends 'homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}
<main class="main__content_wrapper">

    <div class="section contact wf-section" bis_skin_checked="1">
        <div class="container-default w-container" bis_skin_checked="1">
            <div class="contact-wrapper" bis_skin_checked="1">
                <div class="split-content contact-left" bis_skin_checked="1">
                    <h1 data-w-id="105e9220-59a1-4488-c1de-62c56984b30a"
                        style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                        class="title contact">Профиль - {{user.username}}</h1>
                    <a data-w-id="b91b2f0c-8b5b-4131-20cc-3badb4565179"
                        style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                        href="tel:(840)371-2514" class="contact-info-wrapper w-inline-block">
                        <b>Имя: </b>
                        <div bis_skin_checked="1" style="margin-left: 10px;">{{user.first_name}}</div>
                    </a>
                    <a data-w-id="b91b2f0c-8b5b-4131-20cc-3badb4565179"
                        style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                        href="tel:(840)371-2514" class="contact-info-wrapper w-inline-block">
                        <b>Email: </b>
                        <div bis_skin_checked="1" style="margin-left: 10px;">{{user.email}}</div>
                    </a>
                    <a data-w-id="b91b2f0c-8b5b-4131-20cc-3badb4565179"
                        style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                        href="tel:(840)371-2514" class="contact-info-wrapper w-inline-block">
                        <b>Телефон: </b>
                        <div bis_skin_checked="1" style="margin-left: 10px;">{{user.tel}}</div>
                    </a>
                    <a data-w-id="b91b2f0c-8b5b-4131-20cc-3badb4565179"
                        style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                        href="tel:(840)371-2514" class="contact-info-wrapper w-inline-block">
                        <b>Последний вход: </b>
                        <div bis_skin_checked="1" style="margin-left: 10px;">{{user.last_login}}</div>
                    </a>
                    <a data-w-id="b91b2f0c-8b5b-4131-20cc-3badb4565179"
                        style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                        href="tel:(840)371-2514" class="contact-info-wrapper w-inline-block">
                        <b>Дата регистрации: </b>
                        <div bis_skin_checked="1" style="margin-left: 10px;">{{user.date_joined}}</div>
                    </a>
                </div>
                
            </div>
        </div>
    </div>

    
    <!-- End Newsletter banner section -->

</main>
{% include 'include/footer.html' %}

<!-- End footer section -->

<!-- Scroll top bar -->
<button id="scroll__top"><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
            d="M112 244l144-144 144 144M256 120v292" />
    </svg></button>
{% endblock %}