{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Furea - Cart</title>
    <meta name="description" content="Morden Bootstrap HTML5 Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">

    <!-- ======= All CSS Plugins here ======== -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/glightbox.min.css' %}">
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">

    <!-- Plugin css -->
    <!-- <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css"> -->

    <!-- Custom Style CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body>

    {% include 'include/header.html' %}



    <div class="section product wf-section" bis_skin_checked="1" style="margin-bottom: 80px;">
        <div class="container-default w-container" bis_skin_checked="1">
            <div class="product-wrapper" bis_skin_checked="1">
                <div class="w-commerce-commercecartlist" data-wf-collection="database.commerceOrder.userItems"
                    data-wf-template-id="wf-template-1d2dd317-8b76-fecf-a79e-5458d13213a9" bis_skin_checked="1">

                    <h3 class="title product-specs-title">Корзина</h3>
                    {% for product in cart_obj.products.all %}
                    <div class="w-commerce-commercecartitem cart-item" bis_skin_checked="1">

                        <div class="item-cart" bis_skin_checked="1"><a
                                data-wf-bindings="%5B%7B%22dataWHref%22%3A%7B%22type%22%3A%22PlainText%22%2C%22filter%22%3A%7B%22type%22%3A%22detailPage%22%2C%22params%22%3A%5B%225f80ee79961158a0206d3910%22%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.userItems.0.product.f_slug_%22%2C%22collectionSlugMap%22%3A%7B%22COMMERCE_CART_COLLECTION_ID%22%3A%22cart%22%2C%225f84907437eb0534aee2d980%22%3A%22blog-category%22%2C%225f84914e7e6aacaef2aa8d41%22%3A%22team%22%2C%225f80ee79961158a0206d3910%22%3A%22product%22%2C%225f80ee799611584c636d3911%22%3A%22category%22%2C%225f8490012fa43338b1b3db41%22%3A%22blog%22%2C%225f80ee7996115855fc6d390f%22%3A%22sku%22%2C%225f846d7c326515234bf8f624%22%3A%22author%22%2C%22COMMERCE_ORDER_USER_ITEMS_COLLECTION_ID%22%3A%22userItems%22%7D%7D%7D%5D"
                                href="/product/charts-infographics-ui"
                                class="image-wrapper item-cart w-inline-block"><img
                                    data-wf-bindings="%5B%7B%22src%22%3A%7B%22type%22%3A%22ImageRef%22%2C%22filter%22%3A%7B%22type%22%3A%22identity%22%2C%22params%22%3A%5B%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.userItems.0.sku.f_main_image_4dr%22%7D%7D%5D"
                                    src="{{ product.main_product_image.url }}" style="width: 100px;
                                height: 100px;
                                object-fit: cover;" alt=""
                                    class="w-commerce-commercecartitemimage image item-cart"></a>
                            <div class="w-commerce-commercecartiteminfo item-cart-content" bis_skin_checked="1"><a
                                    data-wf-bindings="%5B%7B%22dataWHref%22%3A%7B%22type%22%3A%22PlainText%22%2C%22filter%22%3A%7B%22type%22%3A%22detailPage%22%2C%22params%22%3A%5B%225f80ee79961158a0206d3910%22%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.userItems.0.product.f_slug_%22%2C%22collectionSlugMap%22%3A%7B%22COMMERCE_CART_COLLECTION_ID%22%3A%22cart%22%2C%225f84907437eb0534aee2d980%22%3A%22blog-category%22%2C%225f84914e7e6aacaef2aa8d41%22%3A%22team%22%2C%225f80ee79961158a0206d3910%22%3A%22product%22%2C%225f80ee799611584c636d3911%22%3A%22category%22%2C%225f8490012fa43338b1b3db41%22%3A%22blog%22%2C%225f80ee7996115855fc6d390f%22%3A%22sku%22%2C%225f846d7c326515234bf8f624%22%3A%22author%22%2C%22COMMERCE_ORDER_USER_ITEMS_COLLECTION_ID%22%3A%22userItems%22%7D%7D%7D%5D"
                                    href="/product/charts-infographics-ui" class="item-cart-title w-inline-block">
                                    <div data-wf-bindings="%5B%7B%22innerHTML%22%3A%7B%22type%22%3A%22PlainText%22%2C%22filter%22%3A%7B%22type%22%3A%22identity%22%2C%22params%22%3A%5B%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.userItems.0.product.f_name_%22%7D%7D%5D"
                                        class="w-commerce-commercecartproductname" bis_skin_checked="1">{{ product.title }}</div>
                                </a>
                                <div data-wf-bindings="%5B%7B%22innerHTML%22%3A%7B%22type%22%3A%22CommercePrice%22%2C%22filter%22%3A%7B%22type%22%3A%22price%22%2C%22params%22%3A%5B%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.userItems.0.price%22%7D%7D%5D"
                                    bis_skin_checked="1">{{ product.price }}&nbsp;руб</div>
                                <ul data-wf-bindings="%5B%7B%22optionSets%22%3A%7B%22type%22%3A%22CommercePropTable%22%2C%22filter%22%3A%7B%22type%22%3A%22identity%22%2C%22params%22%3A%5B%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.userItems.0.product.f_sku_properties_3dr[]%22%7D%7D%2C%7B%22optionValues%22%3A%7B%22type%22%3A%22CommercePropValues%22%2C%22filter%22%3A%7B%22type%22%3A%22identity%22%2C%22params%22%3A%5B%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.userItems.0.sku.f_sku_values_3dr%22%7D%7D%5D"
                                    class="w-commerce-commercecartoptionlist"
                                    data-wf-collection="database.commerceOrder.userItems.0.product.f_sku_properties_3dr"
                                    data-wf-template-id="wf-template-1d2dd317-8b76-fecf-a79e-5458d13213af">
                                    <li><span
                                            data-wf-bindings="%5B%7B%22innerHTML%22%3A%7B%22type%22%3A%22PlainText%22%2C%22filter%22%3A%7B%22type%22%3A%22identity%22%2C%22params%22%3A%5B%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.userItems.0.product.f_sku_properties_3dr.0.name%22%7D%7D%5D">Категория</span><span>:&nbsp;
                                        </span><span
                                            data-wf-bindings="%5B%7B%22innerHTML%22%3A%7B%22type%22%3A%22CommercePropValues%22%2C%22filter%22%3A%7B%22type%22%3A%22identity%22%2C%22params%22%3A%5B%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.userItems.0.product.f_sku_properties_3dr.0%22%7D%7D%5D">{{product.category}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div><a href="#"
                            data-wf-bindings="%5B%7B%22data-commerce-sku-id%22%3A%7B%22type%22%3A%22ItemRef%22%2C%22filter%22%3A%7B%22type%22%3A%22identity%22%2C%22params%22%3A%5B%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.userItems.0.sku.id%22%7D%7D%5D"
                            class="remove-button w-inline-block" data-wf-cart-action="remove-item"
                            data-commerce-sku-id="5f8485d3cfd2ce5ca98eff0f">


                        </a>

                        <form data-loading-text="Adding to cart..." data-commerce-product-id="5f848547edc99e2dca576cb5"
                            method="post" action="{% url 'update_cart' %}" class="w-commerce-commerceaddtocartform">

                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}" />

                            <input type="submit" data-node-type="commerce-add-to-cart-button"
                                data-loading-text="Adding to cart..." value="Удалить" aria-busy="false"
                                aria-haspopup="dialog" style="
                                        font-size: 14px;
                                        color: #0e8bff;
                                        background-color: #fff0;
                                        border: 0;
                                        box-shadow: none;
                                    " class="w-commerce-commerceaddtocartbutton button-primary add-to-cart"><a
                                data-node-type="commerce-buy-now-button" data-default-text="Buy now"
                                data-subscription-text="Subscribe now" aria-busy="false" aria-haspopup="false"
                                class="w-commerce-commercebuynowbutton button-secondary buy-now w-dyn-hide"
                                href="/checkout"></a>
                        </form>

                    </div>
                    <br>

                    {% endfor %}
                    {% if cart_obj.products.all|length == 0 %}
                    <p>Ваша корзина пуста</p>
                    {% else %}
                    <h3 class="title product-specs-title">К оплате: <i>{{ cart_obj.subtotal }} руб</i></h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% include 'include/footer.html' %}

    <!-- Quickview Wrapper End -->

    <!-- Scroll top bar -->
    <button id="scroll__top"><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
                d="M112 244l144-144 144 144M256 120v292" />
        </svg></button>


    <!-- All Script JS Plugins here  -->
    <!-- <script src="assets/js/vendor/popper.js" defer="defer"></script> -->
    <!-- <script src="assets/js/vendor/bootstrap.min.js" defer="defer"></script> -->

    <script src="{% static 'assets/js/plugins/swiper-bundle.min.js' %}" defer="defer"></script>
    <script src="{% static 'assets/js/plugins/glightbox.min.js' %}" defer="defer"></script>

    <!-- Customscript js -->
    <script src="{% static 'assets/js/script.js' %}" defer="defer"></script>

</body>

</html>