
<footer class="footer">
    <div class="container-default" bis_skin_checked="1">
        <div class="footer-menu-wrapper" bis_skin_checked="1">
            <div data-w-id="34a9bbb3-6b01-f548-fa5c-221f57b9fdb3" class="footer-main-content-wrapper"
                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
                bis_skin_checked="1"><a href="/" aria-current="page"
                    class="footer-logo-container w-inline-block w--current"><img
                        src="https://assets.website-files.com/5f80d772479ca15cb427f9e5/5f80e65233346d321926d24d_logo-market-template.svg"
                        alt="Market Webflow Template - Logo" class="footer-logo"></a>
                <div class="footer-small-print" bis_skin_checked="1">Copyright © MAI-STORE | Designed by <a
                        href="https://brixtemplates.com/" target="_blank" bis_skin_checked="1">Blinov Maksim</a> -
                    Powered by <a href="https://webflow.com/" target="_blank" bis_skin_checked="1">Webflow</a></div>
                <div class="w-layout-grid footer-social-media-grid" bis_skin_checked="1"><a
                        href="https://www.facebook.com/" target="_blank" class="footer-social-media-link"
                        bis_skin_checked="1"></a><a href="https://twitter.com/" target="_blank"
                        class="footer-social-media-link small" bis_skin_checked="1"></a><a
                        href="https://www.instagram.com/" target="_blank" class="footer-social-media-link large"
                        bis_skin_checked="1"></a><a href="https://www.linkedin.com/" target="_blank"
                        class="footer-social-media-link" bis_skin_checked="1"></a><a href="https://www.youtube.com/"
                        target="_blank" class="footer-social-media-link small" bis_skin_checked="1"></a><a
                        href="https://dribbble.com/" target="_blank" class="footer-social-media-link large"
                        bis_skin_checked="1"></a><a href="https://www.behance.net/" target="_blank"
                        class="footer-social-media-link" bis_skin_checked="1"></a></div>
            </div>
            <div class="footer-menu-links-wrapper" bis_skin_checked="1">
                <div data-w-id="2ca061b9-ef51-6eb4-ac91-9bbf1a05d912" class="footer-links-wrapper"
                    style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
                    bis_skin_checked="1">
                    <div class="title footer-title-links" bis_skin_checked="1">Меню</div>
                    <div class="divider footer-links" bis_skin_checked="1"></div>
                    <div class="footer-content-links" bis_skin_checked="1">
                        <ul role="list" class="list-footer w-list-unstyled">
                            <li class="footer-list-item"><a href="/" aria-current="page"
                                    class="footer-link w--current">Главная</a></li>
                            <li class="footer-list-item"><a href="/about" class="footer-link"
                                    bis_skin_checked="1">О магазине</a></li>
                            <li class="footer-list-item"><a href="/contact" class="footer-link"
                                    bis_skin_checked="1">Контакты</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div data-w-id="883a15b3-f2dd-5615-b19d-ddcfaae0beab" class="footer-join-wrapper"
                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
                bis_skin_checked="1">
                <div class="footer-join" bis_skin_checked="1">
                    <div class="image-wrapper icon-join-footer" bis_skin_checked="1"><img
                            src="https://assets.website-files.com/5f80d772479ca15cb427f9e5/5f8a2527d40161f713df9a74_icon-join-footer-market-template.svg"
                            loading="lazy" alt="Design - Market Webflow Template" class="image icon-join-footer-image">
                    </div>
                    <h3>Не является коммерческим проектом</h3>
                    <p class="paragraph join-footer">Сделано для курсового проекта в МАИ </p><a href="/contact" class="button-primary small full-width w-button"
                        bis_skin_checked="1">Узнать больше</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End footer section -->