{% load static %}
<!-- Start header area -->
<header class="header__section header__transparent mb-20 color-scheme-2">


    <div style="opacity: 1;" class="page-wrapper" bis_skin_checked="1">
        <div data-collapse="medium" data-animation="over-left" data-duration="1000" data-easing="ease-out-expo"
          data-easing2="ease-out-expo" data-w-id="58db7844-5919-d71b-dd74-2323ed8dffe9" role="banner" class="header w-nav"
          bis_skin_checked="1">
          <div class="container-header" bis_skin_checked="1">

            <div class="split-content header-left" bis_skin_checked="1"><a href="{% url 'index' %}"
                data-w-id="58db7844-5919-d71b-dd74-2323ed8dffeb" aria-current="page" class="brand w-nav-brand w--current"
                style="opacity: 1;" aria-label="home"><img
                    src="{% static 'assets/img/logo.svg' %}" 
                  alt="Market Webflow Template - Logo" class="header-logo"></a>
              <nav role="navigation" data-w-id="58db7844-5919-d71b-dd74-2323ed8dffed" class="nav-menu w-nav-menu"
                style="opacity: 1;">
                <ul role="list" class="header-navigation">
                  <li class="nav-item-wrapper search-mobile">
                    <form action="{% url 'product_search' %}" class="header-search mobile w-form"><input
                        class="header-search-input mobile w-input" maxlength="256" name="key"
                        placeholder="Поиск по названию товаров"  required=""><input type="submit"
                        value="Search" class="search-button header w-button"></form>
                  </li>
                  <li class="nav-item-wrapper">
                    <div data-hover="false" data-delay="0" data-w-id="48a61566-7568-c1c7-46fd-9b57ae4e69b5"
                      class="dropdown-header w-dropdown" bis_skin_checked="1">
                      <div class="nav-link dropdown w-dropdown-toggle" id="w-dropdown-toggle-0"
                        aria-controls="w-dropdown-list-0" aria-haspopup="menu" aria-expanded="false" role="button"
                        tabindex="0" bis_skin_checked="1">
                        <div class="dropdown-text" bis_skin_checked="1">Категории&nbsp;&nbsp;<span
                            class="icon-dropdown"></span></div>
                      </div>
                      <nav class="dropdown-list w-dropdown-list"
                        style="display: none; transform: translate3d(0px, -50px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;"
                        id="w-dropdown-list-0" aria-labelledby="w-dropdown-toggle-0">
                        <div class="w-layout-grid dropdown-grid categories" bis_skin_checked="1">
                          <div class="drop-div categories" bis_skin_checked="1">
                            <h4 class="title dropdown">Категории</h4>
                            <div class="w-layout-grid drop-grid categories" bis_skin_checked="1">
                              <div class="dropdown-menu-wrapper" bis_skin_checked="1">
                                
                                {% for category in categories %}
                                <a href="{% url 'category_detail' category.slug %}" class="dropdown-link" tabindex="0" bis_skin_checked="1">{{ category.title }}</a>
                                {% endfor %}
                                {% if user.is_superuser %}

                                <b>
                                    <a href="{% url 'category_create' %}" class="dropdown-link" style="font-weight: bold;" tabindex="0" bis_skin_checked="1"> + Добавить категорию </a>
                                </b>
                                {% endif %}

                            </div>
                            </div>
                          </div>
                        </div>
                      </nav>
                    </div>
                  </li>

                  

                  <li class="nav-item-wrapper">
                    <div data-hover="false" data-delay="0" data-w-id="48a61566-7568-c1c7-46fd-9b57ae4e69b5"
                      class="dropdown-header w-dropdown" bis_skin_checked="1">
                      <div class="nav-link dropdown w-dropdown-toggle" id="w-dropdown-toggle-0"
                        aria-controls="w-dropdown-list-0" aria-haspopup="menu" aria-expanded="false" role="button"
                        tabindex="0" bis_skin_checked="1">
                        <div class="dropdown-text" bis_skin_checked="1">Профиль&nbsp;&nbsp;<span
                            class="icon-dropdown"></span></div>
                      </div>
                      <nav class="dropdown-list w-dropdown-list"
                        style="display: none; transform: translate3d(0px, -50px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;"
                        id="w-dropdown-list-0" aria-labelledby="w-dropdown-toggle-0">
                        <div class="w-layout-grid dropdown-grid categories" bis_skin_checked="1">
                          <div class="drop-div categories" bis_skin_checked="1">
                            {% if user.is_authenticated %}
                            <h4 class="title dropdown">{{ user.username }}</h4>
                            {% else %}
                            <h4 class="title dropdown">Неавторизованный</h4>
                            {% endif %}

                            <div class="w-layout-grid drop-grid categories" bis_skin_checked="1">
                              <div class="dropdown-menu-wrapper" bis_skin_checked="1">
                                
                                {% if user.is_authenticated %}
                                <a href="{% url 'user_profile' user.id %}" class="dropdown-link" tabindex="0" bis_skin_checked="1">Мой аккаунт</a>
                                
                                <a href="{% url 'logout' %}" class="dropdown-link" tabindex="0" bis_skin_checked="1">Выйти</a>

                                {% else %}
                                <a href="{% url 'user_login' %}" class="dropdown-link" tabindex="0" bis_skin_checked="1">Войти</a>
                                <a href="{% url 'register' %}" class="dropdown-link" tabindex="0" bis_skin_checked="1">Зарегистрироваться</a>

              
                                {% endif %}


                            </div>
                            </div>
                          </div>
                        </div>
                      </nav>
                    </div>
                  </li>

                  {% if user.is_superuser %}
                  <li class="nav-item-wrapper"><a href="{% url 'product_create' %}" class="nav-link" tabindex="0" bis_skin_checked="1">Создать продукт</a></li>

                    {% endif %}
                </ul>
              </nav>
            </div>
            <div data-w-id="c5992848-286b-644c-0111-60aa5a12bd25" class="split-content header-right" style="opacity: 1;"
              bis_skin_checked="1">
              <div data-node-type="commerce-cart-wrapper" data-open-product="" data-wf-cart-type="rightSidebar"
                data-wf-cart-query="query" data-wf-page-link-href-prefix="" class="w-commerce-commercecartwrapper cart" bis_skin_checked="1"><a
                  href="{% url 'cart_page' %}" data-node-type="commerce-cart-open-link"
                  class="w-commerce-commercecartopenlink cart-button w-inline-block" aria-label="Open empty cart"><img

                  src="{% static 'assets/img/cart.svg' %}" 
                    alt="Cart Icon - Market Webflow Template" class="cart-icon">
                  <div
                    data-wf-bindings="%5B%7B%22innerHTML%22%3A%7B%22type%22%3A%22Number%22%2C%22filter%22%3A%7B%22type%22%3A%22numberPrecision%22%2C%22params%22%3A%5B%220%22%2C%22numberPrecision%22%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.userItemsCount%22%7D%7D%5D"
                    class="w-commerce-commercecartopenlinkcount cart-quantity" bis_skin_checked="1">{{cart_len}}</div>
                </a>
                <div data-node-type="commerce-cart-container-wrapper" style="display:none"
                  class="w-commerce-commercecartcontainerwrapper w-commerce-commercecartcontainerwrapper--cartType-rightSidebar cart-wrapper"
                  bis_skin_checked="1">
                  <div data-node-type="commerce-cart-container" class="w-commerce-commercecartcontainer cart-container"
                    bis_skin_checked="1">
                    <div class="w-commerce-commercecartheader cart-header" bis_skin_checked="1">
                      <h4 class="w-commerce-commercecartheading">Your Cart</h4><a href="https://markettemplate.webflow.io/#"
                        data-node-type="commerce-cart-close-link"
                        class="w-commerce-commercecartcloselink cart-close-button w-inline-block"></a>
                    </div>
                    <div class="w-commerce-commercecartformwrapper" bis_skin_checked="1">
                      <form data-node-type="commerce-cart-form" style="display:none" class="w-commerce-commercecartform">
                        <div class="w-commerce-commercecartlist" data-wf-collection="database.commerceOrder.userItems"
                          data-wf-template-id="wf-template-1d2dd317-8b76-fecf-a79e-5458d13213a9" bis_skin_checked="1"></div>
                        <div class="w-commerce-commercecartfooter cart-footer" bis_skin_checked="1">
                          <div class="w-commerce-commercecartlineitem" bis_skin_checked="1">
                            <div bis_skin_checked="1">Subtotal</div>
                            <div
                              data-wf-bindings="%5B%7B%22innerHTML%22%3A%7B%22type%22%3A%22CommercePrice%22%2C%22filter%22%3A%7B%22type%22%3A%22price%22%2C%22params%22%3A%5B%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.subtotal%22%7D%7D%5D"
                              class="w-commerce-commercecartordervalue cart-subtotal" bis_skin_checked="1"></div>
                          </div>
                          <div bis_skin_checked="1">
                            <div
                              data-wf-paypal-button="{&quot;layout&quot;:&quot;horizontal&quot;,&quot;color&quot;:&quot;gold&quot;,&quot;shape&quot;:&quot;rect&quot;,&quot;label&quot;:&quot;paypal&quot;,&quot;tagline&quot;:false,&quot;note&quot;:false}"
                              class="paypal-button" bis_skin_checked="1"></div>
                            <div data-node-type="commerce-cart-quick-checkout-actions" style="display:none"
                              bis_skin_checked="1"><a role="button" tabindex="0" aria-haspopup="dialog"
                                aria-label="Apple Pay" data-node-type="commerce-cart-apple-pay-button"
                                style="background-image:-webkit-named-image(apple-pay-logo-white);background-size:100% 50%;background-position:50% 50%;background-repeat:no-repeat"
                                class="w-commerce-commercecartapplepaybutton apple-pay">
                                <div bis_skin_checked="1"></div>
                              </a><a role="button" tabindex="0" aria-haspopup="dialog"
                                data-node-type="commerce-cart-quick-checkout-button" style="display:none"
                                class="w-commerce-commercecartquickcheckoutbutton"><svg
                                  class="w-commerce-commercequickcheckoutgoogleicon" xmlns="http://www.w3.org/2000/svg"
                                  xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16">
                                  <defs>
                                    <polygon id="google-mark-a" points="0 .329 3.494 .329 3.494 7.649 0 7.649"></polygon>
                                    <polygon id="google-mark-c" points=".894 0 13.169 0 13.169 6.443 .894 6.443"></polygon>
                                  </defs>
                                  <g fill="none" fill-rule="evenodd">
                                    <path fill="#4285F4"
                                      d="M10.5967,12.0469 L10.5967,14.0649 L13.1167,14.0649 C14.6047,12.6759 15.4577,10.6209 15.4577,8.1779 C15.4577,7.6339 15.4137,7.0889 15.3257,6.5559 L7.8887,6.5559 L7.8887,9.6329 L12.1507,9.6329 C11.9767,10.6119 11.4147,11.4899 10.5967,12.0469">
                                    </path>
                                    <path fill="#34A853"
                                      d="M7.8887,16 C10.0137,16 11.8107,15.289 13.1147,14.067 C13.1147,14.066 13.1157,14.065 13.1167,14.064 L10.5967,12.047 C10.5877,12.053 10.5807,12.061 10.5727,12.067 C9.8607,12.556 8.9507,12.833 7.8887,12.833 C5.8577,12.833 4.1387,11.457 3.4937,9.605 L0.8747,9.605 L0.8747,11.648 C2.2197,14.319 4.9287,16 7.8887,16">
                                    </path>
                                    <g transform="translate(0 4)">
                                      <mask id="google-mark-b" fill="#fff">
                                        <use xlink:href="#google-mark-a"></use>
                                      </mask>
                                      <path fill="#FBBC04"
                                        d="M3.4639,5.5337 C3.1369,4.5477 3.1359,3.4727 3.4609,2.4757 L3.4639,2.4777 C3.4679,2.4657 3.4749,2.4547 3.4789,2.4427 L3.4939,0.3287 L0.8939,0.3287 C0.8799,0.3577 0.8599,0.3827 0.8459,0.4117 C-0.2821,2.6667 -0.2821,5.3337 0.8459,7.5887 L0.8459,7.5997 C0.8549,7.6167 0.8659,7.6317 0.8749,7.6487 L3.4939,5.6057 C3.4849,5.5807 3.4729,5.5587 3.4639,5.5337"
                                        mask="url(#google-mark-b)"></path>
                                    </g>
                                    <mask id="google-mark-d" fill="#fff">
                                      <use xlink:href="#google-mark-c"></use>
                                    </mask>
                                    <path fill="#EA4335"
                                      d="M0.894,4.3291 L3.478,6.4431 C4.113,4.5611 5.843,3.1671 7.889,3.1671 C9.018,3.1451 10.102,3.5781 10.912,4.3671 L13.169,2.0781 C11.733,0.7231 9.85,-0.0219 7.889,0.0001 C4.941,0.0001 2.245,1.6791 0.894,4.3291"
                                      mask="url(#google-mark-d)"></path>
                                  </g>
                                </svg><svg class="w-commerce-commercequickcheckoutmicrosofticon"
                                  xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                  <g fill="none" fill-rule="evenodd">
                                    <polygon fill="#F05022" points="7 7 1 7 1 1 7 1"></polygon>
                                    <polygon fill="#7DB902" points="15 7 9 7 9 1 15 1"></polygon>
                                    <polygon fill="#00A4EE" points="7 15 1 15 1 9 7 9"></polygon>
                                    <polygon fill="#FFB700" points="15 15 9 15 9 9 15 9"></polygon>
                                  </g>
                                </svg>
                                <div bis_skin_checked="1">Pay with browser.</div>
                              </a></div><a href="https://markettemplate.webflow.io/checkout" value="Continue to Checkout"
                              data-node-type="cart-checkout-button"
                              class="w-commerce-commercecartcheckoutbutton button-primary cart-checkout"
                              data-loading-text="Hang Tight..." bis_skin_checked="1">Continue to Checkout</a>
                          </div>
                        </div>
                      </form>
                      <div class="w-commerce-commercecartemptystate empty-state cart" bis_skin_checked="1">
                        <div bis_skin_checked="1">No items found.</div><a
                          href="https://markettemplate.webflow.io/latest-products"
                          class="button-primary empty-cart w-button" bis_skin_checked="1">Go To Market</a>
                      </div>
                      <div style="display:none" data-node-type="commerce-cart-error"
                        class="w-commerce-commercecarterrorstate error-message" bis_skin_checked="1">
                        <div class="w-cart-error-msg"
                          data-w-cart-quantity-error="Product is not available in this quantity."
                          data-w-cart-general-error="Something went wrong when adding this item to the cart."
                          data-w-cart-checkout-error="Checkout is disabled on this site."
                          data-w-cart-cart_order_min-error="The order minimum was not met. Add more items to your cart to continue."
                          data-w-cart-subscription_error-error="Before you purchase, please use your email invite to verify your address so we can send order updates."
                          bis_skin_checked="1">Product is not available in this quantity.</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <form action="{% url 'product_search' %}" class="header-search w-form"><input type="search"
                  class="header-search-input w-input" maxlength="256" name="query"
                  placeholder="Поиск по названию товаров" id="search-2" required=""><input type="submit"
                  value="Search" class="search-button header w-button"></form>
              <div class="menu-button w-nav-button" style="-webkit-user-select: text;" aria-label="menu" role="button"
                tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false"
                bis_skin_checked="1">
                <div class="menu-button-wrapper" bis_skin_checked="1">
                  <div class="menu-button-icon" bis_skin_checked="1">
                    <div class="menu-line-top" bis_skin_checked="1"></div>
                    <div class="menu-line-middle" bis_skin_checked="1"></div>
                    <div class="menu-line-bottom" bis_skin_checked="1"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0" bis_skin_checked="1"></div>
        </div>
        
      </div>


    
    <!-- End serch box area -->
</header>
<!-- End header area -->