.self-form input, .self-form textarea, .self-form select {
    padding: 15px 30px !important;
    border-radius: 5px !important;
    border: 1px solid #bbb !important;
    /*background-color: #fbfcff !important;*/
    width: 500px;
}

.input_original p {
    padding: 15px 0px !important;
    color: #26395c;
}

.submit-button{
    background-color: #1146b4 !important;
    color: white !important;
    margin-top: 30px !important;
}

.section.product {
    padding-bottom: 0 !important;
}

.shop__header.bg__gray--color.d-flex.align-items-center.justify-content-between.mb-30 {
    border-radius: 15px !important;
}

.product__grid--column__buttons--icons.active {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.product__grid--column__buttons--icons.active {
    color: #0f8bff !important;
    border-color: #0f8bff !important;
}

.product__grid--column__buttons--icons.active:hover {
    color: #0f8bff !important;
    border-color: #0f8bff !important;
}

.select.shop__header--select {
    min-height: 0;
    background-color: #0000;
    padding-right: 0px !important;
}

label.product__view--label {
    margin-top: 15px;
}