{% extends 'homepage.html' %}
{% load static %}
{% block content %}


    <!-- Start offcanvas filter sidebar -->
    <div class="offcanvas__filter--sidebar widget__area">
        <button type="button" class="offcanvas__filter--close">
            <svg class="minicart__close--icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M368 368L144 144M368 144L144 368"></path></svg> <span class="offcanvas__filter--close__text">Close</span>
        </button>
        <div class="offcanvas__filter--sidebar__inner">
            <div class="single__widget widget__bg">
                <h2 class="widget__title position__relative h3">Search</h2>
                <form class="widget__search--form" action="shop.html#">
                    <label>
                        <input class="widget__search--form__input border-0" placeholder="Search by" type="text">
                    </label>
                    <button class="widget__search--form__btn"  type="submit">
                        Search 
                    </button>
                </form>
            </div>
            <div class="single__widget widget__bg">
                <h2 class="widget__title position__relative h3">Categories</h2>
                <ul class="widget__categories--menu">
                    <li class="widget__categories--menu__list">
                        <label class="widget__categories--menu__label d-flex align-items-center">
                            <img class="widget__categories--menu__img" src="assets/img/product/small-product1.webp" alt="categories-img">
                            <span class="widget__categories--menu__text">Denim Jacket</span>
                            <svg class="widget__categories--menu__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="12.355" height="8.394">
                                <path  d="M15.138,8.59l-3.961,3.952L7.217,8.59,6,9.807l5.178,5.178,5.178-5.178Z" transform="translate(-6 -8.59)" fill="currentColor"></path>
                            </svg>
                        </label>
                        <ul class="widget__categories--sub__menu">
                            <li class="widget__categories--sub__menu--list">
                                <a class="widget__categories--sub__menu--link d-flex align-items-center" href="shop.html">
                                    <img class="widget__categories--sub__menu--img" src="assets/img/product/small-product2.webp" alt="categories-img">
                                    <span class="widget__categories--sub__menu--text">Jacket, Women</span>
                                </a>
                            </li>
                            <li class="widget__categories--sub__menu--list">
                                <a class="widget__categories--sub__menu--link d-flex align-items-center" href="shop.html">
                                    <img class="widget__categories--sub__menu--img" src="assets/img/product/small-product3.webp" alt="categories-img">
                                    <span class="widget__categories--sub__menu--text">Woolend Jacket</span>
                                </a>
                            </li>
                            <li class="widget__categories--sub__menu--list">
                                <a class="widget__categories--sub__menu--link d-flex align-items-center" href="shop.html">
                                    <img class="widget__categories--sub__menu--img" src="assets/img/product/small-product4.webp" alt="categories-img">
                                    <span class="widget__categories--sub__menu--text">Western denim</span>
                                </a>
                            </li>
                            <li class="widget__categories--sub__menu--list">
                                <a class="widget__categories--sub__menu--link d-flex align-items-center" href="shop.html">
                                    <img class="widget__categories--sub__menu--img" src="assets/img/product/small-product5.webp" alt="categories-img">
                                    <span class="widget__categories--sub__menu--text">Mini Dresss</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="widget__categories--menu__list">
                        <label class="widget__categories--menu__label d-flex align-items-center">
                            <img class="widget__categories--menu__img" src="assets/img/product/small-product2.webp" alt="categories-img">
                            <span class="widget__categories--menu__text">Oversize Cotton</span>
                            <svg class="widget__categories--menu__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="12.355" height="8.394" >
                                <path  d="M15.138,8.59l-3.961,3.952L7.217,8.59,6,9.807l5.178,5.178,5.178-5.178Z" transform="translate(-6 -8.59)" fill="currentColor"></path>
                            </svg>
                        </label>
                        <ul class="widget__categories--sub__menu">
                            <li class="widget__categories--sub__menu--list">
                                <a class="widget__categories--sub__menu--link d-flex align-items-center" href="shop.html">
                                    <img class="widget__categories--sub__menu--img" src="assets/img/product/small-product2.webp" alt="categories-img">
                                    <span class="widget__categories--sub__menu--text">Jacket, Women</span>
                                </a>
                            </li>
                            <li class="widget__categories--sub__menu--list">
                                <a class="widget__categories--sub__menu--link d-flex align-items-center" href="shop.html">
                                    <img class="widget__categories--sub__menu--img" src="assets/img/product/small-product3.webp" alt="categories-img">
                                    <span class="widget__categories--sub__menu--text">Woolend Jacket</span>
                                </a>
                            </li>
                            <li class="widget__categories--sub__menu--list">
                                <a class="widget__categories--sub__menu--link d-flex align-items-center" href="shop.html">
                                    <img class="widget__categories--sub__menu--img" src="assets/img/product/small-product4.webp" alt="categories-img">
                                    <span class="widget__categories--sub__menu--text">Western denim</span>
                                </a>
                            </li>
                            <li class="widget__categories--sub__menu--list">
                                <a class="widget__categories--sub__menu--link d-flex align-items-center" href="shop.html">
                                    <img class="widget__categories--sub__menu--img" src="assets/img/product/small-product5.webp" alt="categories-img">
                                    <span class="widget__categories--sub__menu--text">Mini Dresss</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="widget__categories--menu__list">
                        <label class="widget__categories--menu__label d-flex align-items-center">
                            <img class="widget__categories--menu__img" src="assets/img/product/small-product3.webp" alt="categories-img">
                            <span class="widget__categories--menu__text">Dairy & chesse</span>
                            <svg class="widget__categories--menu__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="12.355" height="8.394">
                                <path  d="M15.138,8.59l-3.961,3.952L7.217,8.59,6,9.807l5.178,5.178,5.178-5.178Z" transform="translate(-6 -8.59)" fill="currentColor"></path>
                            </svg>
                        </label>
                        <ul class="widget__categories--sub__menu">
                            <li class="widget__categories--sub__menu--list">
                                <a class="widget__categories--sub__menu--link d-flex align-items-center" href="shop.html">
                                    <img class="widget__categories--sub__menu--img" src="assets/img/product/small-product2.webp" alt="categories-img">
                                    <span class="widget__categories--sub__menu--text">Jacket, Women</span>
                                </a>
                            </li>
                            <li class="widget__categories--sub__menu--list">
                                <a class="widget__categories--sub__menu--link d-flex align-items-center" href="shop.html">
                                    <img class="widget__categories--sub__menu--img" src="assets/img/product/small-product3.webp" alt="categories-img">
                                    <span class="widget__categories--sub__menu--text">Woolend Jacket</span>
                                </a>
                            </li>
                            <li class="widget__categories--sub__menu--list">
                                <a class="widget__categories--sub__menu--link d-flex align-items-center" href="shop.html">
                                    <img class="widget__categories--sub__menu--img" src="assets/img/product/small-product4.webp" alt="categories-img">
                                    <span class="widget__categories--sub__menu--text">Western denim</span>
                                </a>
                            </li>
                            <li class="widget__categories--sub__menu--list">
                                <a class="widget__categories--sub__menu--link d-flex align-items-center" href="shop.html">
                                    <img class="widget__categories--sub__menu--img" src="assets/img/product/small-product5.webp" alt="categories-img">
                                    <span class="widget__categories--sub__menu--text">Mini Dresss</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="widget__categories--menu__list">
                        <label class="widget__categories--menu__label d-flex align-items-center">
                            <img class="widget__categories--menu__img" src="assets/img/product/small-product4.webp" alt="categories-img">
                            <span class="widget__categories--menu__text">Shoulder Bag</span>
                            <svg class="widget__categories--menu__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="12.355" height="8.394">
                                <path  d="M15.138,8.59l-3.961,3.952L7.217,8.59,6,9.807l5.178,5.178,5.178-5.178Z" transform="translate(-6 -8.59)" fill="currentColor"></path>
                            </svg>
                        </label>
                        <ul class="widget__categories--sub__menu">
                            <li class="widget__categories--sub__menu--list">
                                <a class="widget__categories--sub__menu--link d-flex align-items-center" href="shop.html">
                                    <img class="widget__categories--sub__menu--img" src="assets/img/product/small-product2.webp" alt="categories-img">
                                    <span class="widget__categories--sub__menu--text">Jacket, Women</span>
                                </a>
                            </li>
                            <li class="widget__categories--sub__menu--list">
                                <a class="widget__categories--sub__menu--link d-flex align-items-center" href="shop.html">
                                    <img class="widget__categories--sub__menu--img" src="assets/img/product/small-product3.webp" alt="categories-img">
                                    <span class="widget__categories--sub__menu--text">Woolend Jacket</span>
                                </a>
                            </li>
                            <li class="widget__categories--sub__menu--list">
                                <a class="widget__categories--sub__menu--link d-flex align-items-center" href="shop.html">
                                    <img class="widget__categories--sub__menu--img" src="assets/img/product/small-product4.webp" alt="categories-img">
                                    <span class="widget__categories--sub__menu--text">Western denim</span>
                                </a>
                            </li>
                            <li class="widget__categories--sub__menu--list">
                                <a class="widget__categories--sub__menu--link d-flex align-items-center" href="shop.html">
                                    <img class="widget__categories--sub__menu--img" src="assets/img/product/small-product5.webp" alt="categories-img">
                                    <span class="widget__categories--sub__menu--text">Mini Dresss</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="widget__categories--menu__list">
                        <label class="widget__categories--menu__label d-flex align-items-center">
                            <img class="widget__categories--menu__img" src="assets/img/product/small-product5.webp" alt="categories-img">
                            <span class="widget__categories--menu__text">Denim Jacket</span>
                            <svg class="widget__categories--menu__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="12.355" height="8.394">
                                <path  d="M15.138,8.59l-3.961,3.952L7.217,8.59,6,9.807l5.178,5.178,5.178-5.178Z" transform="translate(-6 -8.59)" fill="currentColor"></path>
                            </svg>
                        </label>
                        <ul class="widget__categories--sub__menu">
                            <li class="widget__categories--sub__menu--list">
                                <a class="widget__categories--sub__menu--link d-flex align-items-center" href="shop.html">
                                    <img class="widget__categories--sub__menu--img" src="assets/img/product/small-product2.webp" alt="categories-img">
                                    <span class="widget__categories--sub__menu--text">Jacket, Women</span>
                                </a>
                            </li>
                            <li class="widget__categories--sub__menu--list">
                                <a class="widget__categories--sub__menu--link d-flex align-items-center" href="shop.html">
                                    <img class="widget__categories--sub__menu--img" src="assets/img/product/small-product3.webp" alt="categories-img">
                                    <span class="widget__categories--sub__menu--text">Woolend Jacket</span>
                                </a>
                            </li>
                            <li class="widget__categories--sub__menu--list">
                                <a class="widget__categories--sub__menu--link d-flex align-items-center" href="shop.html">
                                    <img class="widget__categories--sub__menu--img" src="assets/img/product/small-product4.webp" alt="categories-img">
                                    <span class="widget__categories--sub__menu--text">Western denim</span>
                                </a>
                            </li>
                            <li class="widget__categories--sub__menu--list">
                                <a class="widget__categories--sub__menu--link d-flex align-items-center" href="shop.html">
                                    <img class="widget__categories--sub__menu--img" src="assets/img/product/small-product5.webp" alt="categories-img">
                                    <span class="widget__categories--sub__menu--text">Mini Dresss</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="single__widget price__filter widget__bg">
                <h2 class="widget__title position__relative h3">Filter By Price</h2>
                <form class="price__filter--form" action="shop.html#"> 
                    <div class="price__filter--form__inner mb-15 d-flex align-items-center">
                        <div class="price__filter--group">
                            <label class="price__filter--label" for="Filter-Price-GTE2">From</label>
                            <div class="price__filter--input border-radius-5 d-flex align-items-center">
                                <span class="price__filter--currency">$</span>
                                <input class="price__filter--input__field border-0" id="Filter-Price-GTE2" name="filter.v.price.gte" type="number" placeholder="0" min="0" max="250.00">
                            </div>
                        </div>
                        <div class="price__divider">
                            <span>-</span>
                        </div>
                        <div class="price__filter--group">
                            <label class="price__filter--label" for="Filter-Price-LTE2">To</label>
                            <div class="price__filter--input border-radius-5 d-flex align-items-center">
                                <span class="price__filter--currency">$</span>
                                <input class="price__filter--input__field border-0" id="Filter-Price-LTE2" name="filter.v.price.lte" type="number" min="0" placeholder="250.00" max="250.00"> 
                            </div>	
                        </div>
                    </div>
                    <button class="price__filter--btn primary__btn" type="submit">Filter</button>
                </form>
            </div>
            <div class="single__widget widget__bg">
                <h2 class="widget__title position__relative h3">Dietary Needs</h2>
                <ul class="widget__form--check">
                    <li class="widget__form--check__list">
                        <label class="widget__form--check__label" for="check6">Denim shirt</label>
                        <input class="widget__form--check__input" id="check6" type="checkbox">
                        <span class="widget__form--checkmark"></span>
                    </li>
                    <li class="widget__form--check__list">
                        <label class="widget__form--check__label" for="check7">Need Winter</label>
                        <input class="widget__form--check__input" id="check7" type="checkbox">
                        <span class="widget__form--checkmark"></span>
                    </li>
                    <li class="widget__form--check__list">
                        <label class="widget__form--check__label" for="check8">Fashion Trends</label>
                        <input class="widget__form--check__input" id="check8" type="checkbox">
                        <span class="widget__form--checkmark"></span>
                    </li>
                    <li class="widget__form--check__list">
                        <label class="widget__form--check__label" for="check9">Oversize Cotton</label>
                        <input class="widget__form--check__input" id="check9" type="checkbox">
                        <span class="widget__form--checkmark"></span>
                    </li>
                    <li class="widget__form--check__list">
                        <label class="widget__form--check__label" for="check10">Baking material</label>
                        <input class="widget__form--check__input" id="check10" type="checkbox">
                        <span class="widget__form--checkmark"></span>
                    </li>
                </ul>
            </div>
            <div class="single__widget widget__bg">
                <h2 class="widget__title position__relative h3">Top Rated Product</h2>
                <div class="product__grid--inner">
                    <div class="product__items product__items--grid d-flex align-items-center">
                        <div class="product__items--grid__thumbnail position__relative">
                            <a class="product__items--link" href="product-details.html">
                                <img class="product__items--img product__primary--img" src="assets/img/product/small-product1.webp" alt="product-img">
                                <img class="product__items--img product__secondary--img" src="assets/img/product/small-product2.webp" alt="product-img">
                            </a>
                        </div>
                        <div class="product__items--grid__content">
                            <h3 class="product__items--content__title h4"><a href="product-details.html">Modern Chair</a></h3>
                            <div class="product__items--price">
                                <span class="current__price">$165.00</span>
                            </div>
                            <div class="product__items--color">
                                <ul class="product__items--color__wrapper d-flex">
                                    <li class="product__items--color__list"><a class="product__items--color__link one" href="javascript:void(0)"></a></li>
                                    <li class="product__items--color__list"><a class="product__items--color__link two" href="javascript:void(0)"></a></li>
                                    <li class="product__items--color__list"><a class="product__items--color__link three" href="javascript:void(0)"></a></li>
                                    <li class="product__items--color__list"><a class="product__items--color__link four" href="javascript:void(0)"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="product__items product__items--grid d-flex align-items-center">
                        <div class="product__items--grid__thumbnail position__relative">
                            <a class="product__items--link" href="product-details.html">
                                <img class="product__items--img product__primary--img" src="assets/img/product/small-product3.webp" alt="product-img">
                                <img class="product__items--img product__secondary--img" src="assets/img/product/small-product4.webp" alt="product-img">
                            </a>
                        </div>
                        <div class="product__items--grid__content">
                            <h3 class="product__items--content__title h4"><a href="product-details.html">Plastic Chair</a></h3>
                            <div class="product__items--price">
                                <span class="current__price">$165.00</span>
                            </div>
                            <div class="product__items--color">
                                <ul class="product__items--color__wrapper d-flex">
                                    <li class="product__items--color__list"><a class="product__items--color__link one" href="javascript:void(0)"></a></li>
                                    <li class="product__items--color__list"><a class="product__items--color__link two" href="javascript:void(0)"></a></li>
                                    <li class="product__items--color__list"><a class="product__items--color__link three" href="javascript:void(0)"></a></li>
                                    <li class="product__items--color__list"><a class="product__items--color__link four" href="javascript:void(0)"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="product__items product__items--grid d-flex align-items-center">
                        <div class="product__items--grid__thumbnail position__relative">
                            <a class="product__items--link" href="product-details.html">
                                <img class="product__items--img product__primary--img" src="assets/img/product/small-product5.webp" alt="product-img">
                                <img class="product__items--img product__secondary--img" src="assets/img/product/small-product6.webp" alt="product-img">
                            </a>
                        </div>
                        <div class="product__items--grid__content">
                            <h3 class="product__items--content__title h4"><a href="product-details.html">Design Rooms</a></h3>
                            <div class="product__items--price">
                                <span class="current__price">$165.00</span>
                            </div>
                            <div class="product__items--color">
                                <ul class="product__items--color__wrapper d-flex">
                                    <li class="product__items--color__list"><a class="product__items--color__link one" href="javascript:void(0)"></a></li>
                                    <li class="product__items--color__list"><a class="product__items--color__link two" href="javascript:void(0)"></a></li>
                                    <li class="product__items--color__list"><a class="product__items--color__link three" href="javascript:void(0)"></a></li>
                                    <li class="product__items--color__list"><a class="product__items--color__link four" href="javascript:void(0)"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single__widget widget__bg">
                <h2 class="widget__title position__relative h3">Brands</h2>
                <ul class="widget__tagcloud">
                    <li class="widget__tagcloud--list"><a class="widget__tagcloud--link" href="shop.html">Wooden</a></li>
                    <li class="widget__tagcloud--list"><a class="widget__tagcloud--link" href="shop.html">Chair</a></li>
                    <li class="widget__tagcloud--list"><a class="widget__tagcloud--link" href="shop.html">Modern</a></li>
                    <li class="widget__tagcloud--list"><a class="widget__tagcloud--link" href="shop.html">Fabric  </a></li>
                    <li class="widget__tagcloud--list"><a class="widget__tagcloud--link" href="shop.html">Shoulder </a></li>
                    <li class="widget__tagcloud--list"><a class="widget__tagcloud--link" href="shop.html">Winter</a></li>
                    <li class="widget__tagcloud--list"><a class="widget__tagcloud--link" href="shop.html">Accessories</a></li>
                    <li class="widget__tagcloud--list"><a class="widget__tagcloud--link" href="shop.html">Dress </a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End offcanvas filter sidebar -->
    
   {% include 'include/header.html' %}

   <div data-w-id="af400428-1bf4-a836-a064-c1c0c8aede31" class="section home-hero wf-section" bis_skin_checked="1">
    <div class="container-default w-container" bis_skin_checked="1">
        <div class="home-hero-wrapper" bis_skin_checked="1">
            <div class="split-content home-hero-left" bis_skin_checked="1">
                <h1 data-w-id="83325cd0-3e60-94ff-c7ee-89fa3390ec8f"
                    style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;">
                    Маркетплейс сделан командой из МАИ</h1>
                <p data-w-id="818ad9b9-07a4-1fd4-84d9-b3f29afdf674"
                    style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                    class="paragraph home-hero">Здесь вы можете найти все необходимые для себя (и не только) товары =)</p>
                <form action="{% url 'product_search' %}" data-w-id="17e5c590-e2c8-6b33-ce7c-eb95f5c1233f"
                    style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                    class="search home-hero w-form"><input type="search" class="search-input w-input"
                        maxlength="256" name="key" placeholder="Поиск товаров по названию" id="search"
                        required=""><input type="submit" value="Поиск" class="search-button w-button"></form>
            </div>
            <div class="split-content home-hero-right" bis_skin_checked="1">
                <div data-w-id="d0dc91ae-0e51-8fb8-c700-6d8bdc10f1e6" class="hero-images-wrapper"
                    style="will-change: transform; transform: translate3d(0px, -9.364px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                    bis_skin_checked="1"><img
                        src="https://assets.website-files.com/5f80d772479ca15cb427f9e5/5f80f0e213df6c88e425c56c_image-home-hero-01-market-template.svg"
                        alt="Tablet Mockups - Market Webflow Template" class="image home-hero"><img
                        src="https://assets.website-files.com/5f80d772479ca15cb427f9e5/5f80f0e3dc86b57c86503709_image-home-hero-04-market-template.svg"
                        alt="Typography - Market Webflow Template" class="image home-hero"><img
                        src="https://assets.website-files.com/5f80d772479ca15cb427f9e5/5f80f0e3840eee5b8df71ace_image-home-hero-07-market-template.svg"
                        alt="Phone Mockups - Market Webflow Template" class="image home-hero last"></div>
                <div data-w-id="f5511c85-57f1-a4a9-ef4d-cdaeee61b9e9" class="hero-images-wrapper center"
                    style="will-change: transform; transform: translate3d(0px, 39.942px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                    bis_skin_checked="1"><img
                        src="https://assets.website-files.com/5f80d772479ca15cb427f9e5/5f80f0e2d032426fae5d2793_image-home-hero-02-market-template.svg"
                        alt="Cards Mockup - Market Webflow Template" class="image home-hero"><img
                        src="https://assets.website-files.com/5f80d772479ca15cb427f9e5/5f80f0e2d77e086f71078ffe_image-home-hero-05-market-template.svg"
                        alt="iPhone Mockups - Market Webflow Template" class="image home-hero"><img
                        src="https://assets.website-files.com/5f80d772479ca15cb427f9e5/5f80f0e3e068d55b031fc921_image-home-hero-08-market-template.svg"
                        alt="Wearables - Market Webflow Template" class="image home-hero last"></div>
                <div data-w-id="df45e9b1-4959-56c5-020c-42c779b3303f" class="hero-images-wrapper last"
                    style="will-change: transform; transform: translate3d(0px, -9.364px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                    bis_skin_checked="1"><img
                        src="https://assets.website-files.com/5f80d772479ca15cb427f9e5/5f80f0e3c460585ec0bb1214_image-home-hero-03-market-template.svg"
                        alt="Logos - Market Webflow Template" class="image home-hero"><img
                        src="https://assets.website-files.com/5f80d772479ca15cb427f9e5/5f80f0e35451d7944febd06d_image-home-hero-06-market-template.svg"
                        alt="Style Guide - Market Webflow Template" class="image home-hero"><img
                        src="https://assets.website-files.com/5f80d772479ca15cb427f9e5/5f80f26477a2809783cf89ac_image-home-hero-09-market-template.svg"
                        alt="UI Kit - Market Webflow Template" class="image home-hero"></div>
            </div>
        </div>
    </div>
</div>
<div class="section popular-products-section wf-section" bis_skin_checked="1">
    <div class="container-default w-container" bis_skin_checked="1">
        <div data-w-id="de176406-1485-737f-20bc-ad8316a9847e"
            style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
            class="top-content popular-products-section" bis_skin_checked="1">
            <h2 class="title popular-products-section">Категория - <i style="font-weight: 200;">{{category.title}}</i></h2>
            {% if user.is_superuser %}

            <b>
                <a href="{% url 'category_create' %}" class="dropdown-link" style="font-weight: bold;" tabindex="0" bis_skin_checked="1"> Удалить </a>
            </b>
            {% endif %}
        </div>
        <div class="w-dyn-list" bis_skin_checked="1">
            <div class="shop__header bg__gray--color d-flex align-items-center justify-content-between mb-30">
                <button class="widget__filter--btn d-none d-md-flex align-items-center">
                    <svg  class="widget__filter--btn__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="28" d="M368 128h80M64 128h240M368 384h80M64 384h240M208 256h240M64 256h80"/><circle cx="336" cy="128" r="28" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="28"/><circle cx="176" cy="256" r="28" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="28"/><circle cx="336" cy="384" r="28" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="28"/></svg> 
                    <span class="widget__filter--btn__text">Filter</span>
                </button>
                <div class="product__view--mode d-flex align-items-center">
                    <div class="product__view--mode__list product__short--by align-items-center d-none d-lg-flex">
                        <label class="product__view--label">Сортировать:</label>
                        <div class="select shop__header--select">
                            <select class="product__view--select">
                                <option value="3">Сортировать по новизне</option>
                                <option value="4">Сортировать по рейтингу </option>
                            </select>
                        </div>
                    </div>
                    <div class="product__view--mode__list">
                        <div class="product__grid--column__buttons d-flex justify-content-center">
                            <button class="product__grid--column__buttons--icons active" data-toggle="tab" aria-label="product grid btn" data-target="#product_grid">
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 9 9">
                                    <g  transform="translate(-1360 -479)">
                                      <rect id="Rectangle_5725" data-name="Rectangle 5725" width="4" height="4" transform="translate(1360 479)" fill="currentColor"/>
                                      <rect id="Rectangle_5727" data-name="Rectangle 5727" width="4" height="4" transform="translate(1360 484)" fill="currentColor"/>
                                      <rect id="Rectangle_5726" data-name="Rectangle 5726" width="4" height="4" transform="translate(1365 479)" fill="currentColor"/>
                                      <rect id="Rectangle_5728" data-name="Rectangle 5728" width="4" height="4" transform="translate(1365 484)" fill="currentColor"/>
                                    </g>
                                  </svg>
                            </button>
                            <button class="product__grid--column__buttons--icons" data-toggle="tab" aria-label="product list btn" data-target="#product_list">
                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 13 8">
                                    <g id="Group_14700" data-name="Group 14700" transform="translate(-1376 -478)">
                                      <g  transform="translate(12 -2)">
                                        <g id="Group_1326" data-name="Group 1326">
                                          <rect id="Rectangle_5729" data-name="Rectangle 5729" width="3" height="2" transform="translate(1364 483)" fill="currentColor"/>
                                          <rect id="Rectangle_5730" data-name="Rectangle 5730" width="9" height="2" transform="translate(1368 483)" fill="currentColor"/>
                                        </g>
                                        <g id="Group_1328" data-name="Group 1328" transform="translate(0 -3)">
                                          <rect id="Rectangle_5729-2" data-name="Rectangle 5729" width="3" height="2" transform="translate(1364 483)" fill="currentColor"/>
                                          <rect id="Rectangle_5730-2" data-name="Rectangle 5730" width="9" height="2" transform="translate(1368 483)" fill="currentColor"/>
                                        </g>
                                        <g id="Group_1327" data-name="Group 1327" transform="translate(0 -1)">
                                          <rect id="Rectangle_5731" data-name="Rectangle 5731" width="3" height="2" transform="translate(1364 487)" fill="currentColor"/>
                                          <rect id="Rectangle_5732" data-name="Rectangle 5732" width="9" height="2" transform="translate(1368 487)" fill="currentColor"/>
                                        </g>
                                      </g>
                                    </g>
                                  </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <p class="product__showing--count">Показано {{ category.product_category.all.count }} результат</p>
            </div>
            <div role="list" class="popular-products-section-grid w-dyn-items" bis_skin_checked="1">

                {% for product in category.product_category.all %}
                <div data-w-id="b393ad9a-1a58-9dfb-bf87-9c04fb29ccd5"
                    style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                    role="listitem" class="popular-product w-dyn-item" bis_skin_checked="1"><a
                        data-w-id="df4beb17-b591-9c88-2a0a-5194074aa0a8" href="{% url 'product_detail' product.slug %}"
                        class="popular-product-section-wrapper w-inline-block" bis_skin_checked="1">
                        <div class="image-wrapper popular-product-section" bis_skin_checked="1"
                            style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                            <img src="{{ product.main_product_image.url }}" style="width: 350px;
                            height: 400px;
                            object-fit: cover;"
                                data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                                alt="eCommerce UI Kit"
                                sizes="(max-width: 479px) 93vw, (max-width: 991px) 44vw, (max-width: 1439px) 30vw, 372px"
                                class="image popular-product-section"
                                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        </div>
                        <div class="popular-product-section-about-wrapper" bis_skin_checked="1">
                            <div class="split-content popular-product-section-about-left" bis_skin_checked="1">
                                <h3 class="title popular-product-section" style="color: rgb(38, 57, 92);">{{ product.title }}</h3>
                                <div class="popular-product-section-author-wrapper" bis_skin_checked="1">
                                    <div bis_skin_checked="1">{{ product.category }}</div>
                                </div>
                            </div>
                            <div class="badge popular-product-section-price" bis_skin_checked="1">
                                <div bis_skin_checked="1">{{ product.price }} руб</div>
                            </div>
                        </div>
                    </a></div>
                {% endfor %}


            </div>
            
        </div>
    </div>
</div>
    
{% include 'include/footer.html' %}
<!-- Quickview Wrapper End -->

    <!-- Scroll top bar -->
    <button id="scroll__top"><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M112 244l144-144 144 144M256 120v292"/></svg></button>

  <!-- All Script JS Plugins here  -->
  <!-- <script src="assets/js/vendor/popper.js" defer="defer"></script> -->
  <!-- <script src="assets/js/vendor/bootstrap.min.js" defer="defer"></script> -->

{% endblock %}